#canvas {
    width: 600px;
    padding: 200px 30px;
    text-align: center;
    border: 1px solid black;
}

span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available span {
    background: green;

}

.nearby span:after {
    content: "nearby";
    margin-left: 10px;
}

#bag {
    width: 200px;
    height: 200px;
    background: url(img/bag.png) no-repeat center;
    background-size: 90%;
    margin: 20px auto;
}

#bag-health {
    width: 200px;
    border: 2px solid white;
    margin: 0 auto 20px auto;
}

#bag-health div {
    display: block;
    height: 20px;
    background: crimson;
    width: 100%;
}

#controls {
    width: 120px;
    margin: 0 auto;
}